/* Universal Styles */

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #144655;
}

/* Header */

.header {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.25;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

.header li {
  display: inline-block;
}
